.error{
    color: red;
}

#success{
    color: green;
}

body{
    background-color:bisque;
}
#overlay{
    height: 100%;
    width: 100%;
}
form{
    max-width: 550px;
    width: 90%;
    background-color: aliceblue;
    margin: 20vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
}
h1{
    color:brown;
    text-align: center;
}
label{
display: block;
margin-bottom: 10px;
}
input,textarea{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    resize: none;
}

button{
    background-color:blue;
    border: 0;
    color: white;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}

.error-border{
    border-bottom: 1px solid red;
}




































